<h2>Create new Order:</h2>
<p>Description:</p>
<input type="text" [(ngModel)]="newOrder.description"/>

<p>Cost:</p>
<input type="number" [(ngModel)]="newOrder.cost"/>

<p>Rating:</p>
<input type="number" [(ngModel)]="newOrder.rating" min="1" max="5"/>

<button (click)="CreateOrder()">Add Order</button>

<div *ngFor="let o of Orders">
    <p>Order Number<!--  id -->: {{ o.id }}</p>
    <p>Description: {{ o.description }}</p>
    <p>Cost: {{ o.cost | currency }}</p>
    <p>Rating: {{ o.rating }}</p>


</div>